/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
.content_scene_cat {
  color: #666;
  margin: 0 0 26px 0; }
  .content_scene_cat .cat_desc {
    border: 1px solid #d6d6d6;
    padding: 30px;
    background: #fff; }
  .content_scene_cat span.category-name {
    font: 500 26px/30px Droid Sans, Helvetica, sans-serif;
    color: #333;
    margin-bottom: 15px;
    display: inline-block; }
  .content_scene_cat p {
    margin-bottom: 0;
    color: #666;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: 500; }
  .content_scene_cat a:hover {
    text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #666; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #333; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #26a69d; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  margin-bottom: 20px; }
  #subcategories p.subcategory-heading {
    color: #333;
    font-size: 18px;
    margin: 0 0 15px 0; }
  #subcategories .out_sub {
    padding: 15px;
    border: 1px solid #d6d6d6;
    background: #fff;
    border-top: 2px solid #26a69d; }
  #subcategories ul {
    margin: 0 0 0 -15px; }
    #subcategories ul li {
      float: left;
      width: 145px;
      padding: 0 15px;
      text-align: left;
      /* height: 202px; */ }
      #subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        #subcategories ul li .subcategory-image a {
          display: block; }
          #subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top; }
      #subcategories ul li .subcategory-name {
        font: 400 14px/16px Droid Sans, Helvetica, sans-serif;
        color: #333;
        text-align: left; }
        #subcategories ul li .subcategory-name:hover {
          color: #26a69d; }
      #subcategories ul li .cat_desc {
        display: none; }

/**bx-slider***/
#subcategories div.bx-wrapper .bx-controls-direction a {
  width: auto;
  height: auto;
  top: -40px; }
  #subcategories div.bx-wrapper .bx-controls-direction a.bx-prev:before, #subcategories div.bx-wrapper .bx-controls-direction a.bx-next:before {
    font-size: 13px;
    color: #333;
    content: "\f053";
    font-family: "FontAwesome"; }
  #subcategories div.bx-wrapper .bx-controls-direction a:hover:before {
    color: #26a69d; }
  #subcategories div.bx-wrapper .bx-controls-direction a.bx-prev {
    right: 15px;
    left: auto; }
    #subcategories div.bx-wrapper .bx-controls-direction a.bx-prev:before {
      content: "\f053"; }
  #subcategories div.bx-wrapper .bx-controls-direction a.bx-next {
    right: -5px; }
    #subcategories div.bx-wrapper .bx-controls-direction a.bx-next:before {
      content: "\f054"; }

/*# sourceMappingURL=category.css.map */
