@import 'bootstrap_lib/_variables';

//------- FONTS
$font-family:				  		Droid Sans, Helvetica, sans-serif;
$font:						  		normal 13px/18px $font-family;
$font-custom:                 		'Droid Sans', sans-serif;
$font-icon:                   		"FontAwesome";
$fa-css-prefix:       				icon !default;

//-------- BORDERS
$base-border-color:					#d6d6d6;
$main_border:						1px solid $base-border-color;
$dark-border-color:					#868686;
$light-border-color:				#fff;
$homepage-footer-border:            #d9d9d9;
$border-button:#26a69d;
$border-button-hover:#faaf46;
$border-free-shippng:#d6d6d6;
$blue-border: #31a5ff;
$border-layered: #efefef;
$border-main:#26a69d;
$border-orange:#faaf46;
//--------- BACKGROUNDS
$base-box-bg:                       #fbfbfb;
$table-background:                  #fff;
$dark-background:                   #333;
$light-background:                  #fff;
$homepage-footer-bg:                #1f1f1f; 
$menu-ver-bg: #2b2b2b;
$blue-bg: #31a5ff;
$green-bg:#a7d992;
$bg-head-top:#313131;
$bg-head-menu:#0f0f0f;
$bg-button:#26a69d;
$bg-hover-button:#faaf46;
$bg-title-heading:#e06245; 
$main-bg:#26a69d;
$bg-block:#f6f6f6;
$bg-hover-control:#000;
$label-sale:#e75547;
$label-new:#6b8519;
$bg-orange:#faaf46;
$bg-body:#eaeaea;
//--------- COLORS
$base-body-color:                  #666;
$base-text-color:                   #333;
$drank-color:  #000;
$base-heading-color:				$base-text-color;
$base-title-color:					$base-text-color;
$light-text-color:                  #fff;
$link-color:					#333;;
$link-hover-color:                  #26a69d;
$description-color:					#666;
$color-main:#26a69d;
$color-hover-button:#faaf46;
$link-header-color: $base-body-color;
$order-color:#999;
$link-footer-color:$order-color;

//--------- Indents
$base-page-indent:                 	$grid-gutter-width;
$base-box-padding:                  14px 18px 13px;
$base-box-indent:                  	0 0 30px 0;

//---------- Product Elements
$product-name-color:                #333;
$product-name-hover-color:         $color-main;
$price-color:						#333;
$product-price-color:				#333;
$product-reduced-price:				#f00;
$product-special-price-color:		 $color-main;
$product-old-price-color:			#b3b3b3;

//---------- Buttons
$button-text-color:					#333;

		//------ Buttons +/- ---
		$button-pm-color:			#c0c0c0;
		$button-pm-hover-color:		$base-text-color;

		//------ Button Small --
		$button-small-bg:			#fff;
		$button-small-hover-bg:		#575757;

		//-------Button exclusive-medium
		$button-em-color:			$base-text-color;

//---------- Product Listing
$base-listing-border-color:					$base-border-color;
$base-listing-grid-padding:					$base-box-padding;

		//-------------- Grid/List vars
		$GL-text-color:								#808080;
		$GL-title-color:							$base-text-color;
		$GL-icon-color:								#e1e0e0;
		$GL-icon-color-hover:						$base-text-color;

		//-------------- Pagination vars
		$pagination-prevnext-color:					#777676;
		$pagination-bgcolor:	               		$base-box-bg;
		$pagination-hover-bg:						#f6f6f6;

//---------- Product Info
$top-line-color:									#C4C4C4;
$product-image-border:								#dbdbdb;
$scroll-button-color:								#c0c0c0;
$list-info-bg:										#f6f6f6;
$scroll-button-hover-color:							$base-text-color;
$tr-even-bg:										#fdfdfd;

//sub heading (h2,h3) define
@mixin sub-heading {
	color: $base-heading-color;
	text-transform: uppercase;
	font-family: $font-custom;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: 0 0 20px;
	position: relative;
	border: 1px solid $base-border-color;
	border-bottom: none;
	background: $base-box-bg;
}