@import "compass";
@import "theme_variables";
.myaccount-link-list
{
  padding:20px;
background:$light-background;
}
#my-account {
	.addresses-lists {
		margin-bottom: 30px;
	}
	ul.myaccount-link-list {
		li {
			overflow: hidden;
			padding:10px;
			background:transparent;
			-webkit-transition: all 0.3s ease;
					  transition: all 0.3s ease;
					  -moz-transition: all 0.3s ease;position:relative;
			a {
				display: block;
				overflow: hidden;
				font: 400 14px $font-family;
				color: $base-body-color;
				text-transform: uppercase;
				text-decoration: none;
				
				
				i {
					font-size: 22px;
					text-align: center;
					float:left;margin-right: 20px;
					
					
				}
				span {
				
					overflow: hidden;
					display: block;
					margin-top:2px;
					
				}
				
			}
			&:after
			{
			   content: "";
			  position: absolute;
			  right: 0;
			  top: 0;
			  width: 12px;
			  height: 12px;
			 
			}
			&:hover {
					filter: none;
					background:$main-bg;
					a
					{color:$light-text-color;}
					&:after 
					{
					 background: #fff url("../img/tab.png") no-repeat;
					}
					
					
				}
		}
	}
}
#my-account ul.myaccount-link-list li.lnk_wishlist
{
margin-bottom:0;
}